/* Universal Selector */
*{
    margin:0;
    padding:0;
}
  

/* CSS Specificity  styles the last element meentioned { mentiones all the elements but only styles the last one mentioned*/
 
/* header .div p{ */

/* selection of image */
::selection img:nth-child(1)
position:relative
top

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
.content{
    padding: 2em;
}
img{
    width: 18em;
}
